<div class="content table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Contatos</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
        <th scope="row" class="table-name"> <span class="name">{{contact.name[0]}}</span></th>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>@{{contact.telephone}}</td>
        <td style="float:right"> 
          <button (click)="edit(list[i])"><i class="fas fa-pencil-alt"></i></button>
          <button data-target="#modal" data-toggle="modal" (click)="cat(i)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- modal -->
<div class="modal fade" id="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Contato</h5>
      </div>
      <div class="modal-body">
        <p>Deseja realmente excluir o contato?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-cancel" data-dismiss="modal">Cancelar</button>
        <button data-dismiss="modal" (click)="delete(i)" type="button" class="modal-add">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>