.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
table {
    width: 96%;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
}
th {
    color: #9198af;
}
tr:hover {
    cursor: pointer;
    background-color: #fff3f2;
}
.table-name {
    width: 50px !important;
    color: white;
}
.name {
    padding: 8px 11px;
    background-color: #dd8346;
    border-radius: 25px;
}