.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    min-height: 40px;
    // width: 100%;
    .search {
        width: 75%;
        height: 32px;
        border: 0;
        padding: 0px 10px;
        border-radius: 4px;
        background-color: #e4e7f4;
        font-size: 16px;
    }
}

@media screen and (max-width: 765px) {
    .nav {
        .search {
            width: 100%;
            margin: 10px 0;
        }
    }
}