/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
    font-weight: normal;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
* {
    outline: none !important;
    font-family: Roboto;
}
:root {
    --yellow: #fecf33;
    --light-orange: #fdbd39;
    --peach: #ee6723;
}
body {
    background-color: #f8f9fd;
}
.addContact {
    img {
        margin: 0 5px 0 -5px;
        width: 16px;
        height: 16px;
        object-fit: contain;
    }
    cursor: pointer;
    border: 0;
    width: 144px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #dbff90;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: var(--peach);
}

// modal css
.modal-content {
    border-radius: 25px !important;
}
.modal-body div {
    padding: 10px 0px;
}
.modal-body input {
    display: block;
}
.modal-body {
    padding: 0 20px;
}
.modal-input {
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    border: solid 1px #c0c3d2;
}
.modal-tel {
    width: 50%;  
    border-radius: 4px;
    padding: 5px 10px;
    border: solid 1px #c0c3d2;
}
.modal-cancel {
    color: #fa7268;
    border: 0;
    background-color: transparent;
}
.modal-add {
    color: white;
    width: 72px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(255, 255, 255, 0.16);
    background-color: #fa7268;
}
.modal-add:disabled {
    opacity: 0.5;
}