.container_nocontact {
    display: flex;
    padding: 150px 0px;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    p {
        margin: 30px 0;
        font-size: 16px;
        color: #2a2d3b;
    }
}