<div class="container_nocontact">
  <img src="assets/imgs/ic-book.svg" alt="book">
  <p>Nenhum contato foi criado ainda.</p>
  <button class="addContact" data-target="#modal" data-toggle="modal">
    <img src="assets/imgs/ic-plus.svg">
    Criar contato
  </button>
</div>

<!-- modal -->
<div class="modal fade" id="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criar novo contato</h5>
      </div>
      <div class="modal-body">
        <div>
          <span>Nome</span>
          <input class="modal-input" [(ngModel)]="contact.name" type="text">
        </div>
        <div>
          <span>E-mail</span>
          <input class="modal-input" [(ngModel)]="contact.email" type="email">
        </div>
        <div>
          <span>Telefone</span>
          <input class="modal-tel" [(ngModel)]="contact.telephone" type="number">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="modal-cancel" data-dismiss="modal">Cancelar</button>
        <button
        data-dismiss="modal"
        (click)="user()"
        type="button" 
        class="modal-add"
        [disabled]="contact.name ==='' && contact.email === '' && contact.telephone === ''">
        Salvar
      </button>
      </div>
    </div>
  </div>
</div>